<%- layout("./layouts/boilerplate") %>
<body>
    <div class="apply-form-containerform-container">
            <div class="applicantImage">
                <img src="<%= currUser.userImage.url %>" alt="">
            </div>
            <div class="storedInfo mb-3">
                <span class="name"><%= currUser.name %></span>
                <span class="email"><%= currUser.username %></span>
            </div>
        <form method="post" action="/users/<%= companyId %>/apply" enctype="multipart/form-data" class="needs-validation" novalidate>
            <div class="mb-3">
                <label for="contact" class="form-label">Mobile number<sup style="color: red;">*</sup></label>
                <input type="text" placeholder="enter mobile number" id="contact" class="form-control" required name="mobileNumber">
                <div class="invalid-feedback">Please enter Mobile number</div>
            </div>
            <div class="mb-3">
                <label for="resume" class="form-label">Upload resume<sup style="color: red;">*</sup></label>
                <input type="file" placeholder="upload your resume" id="resume" class="form-control" required name="resume">
                <div class="invalid-feedback">Please upload resume</div>
            </div>
            <button class="btn btn-primary">Submit</button>
        </form>
    </div>
</body>
