<%- layout("./layouts/boilerplate.ejs") %>
<body>
    <div class="form-container">
        <form method="post" action="/updateProfile/<%= currUser._id %>" class="needs-validation" novalidate >
            <div class="applicantImage mb-5"  style="text-align-last: center;">
                <img src="<%= currUser.userImage.url %>">
                <!-- <input type="file" class="mt-2 form-control col-2" required name="user[userImage]" disabled> -->
            </div>
            <div class="mb-3">
                <label for="user[name]" class="form-label">Name: </label>
                <input type="text" value="<%= currUser.name %>" class="form-control" required name="user[name]" disabled>
            </div>
            <div class="mb-3">
                <label for="user[role]" class="form-label">role</label>
                <input type="text" value="<%= currUser.role %>" class="form-control" required name="user[role]" disabled>
            </div>
            <div class="mb-3">
                <label for="user[username]" class="form-label">email</label>
                <input type="email" value="<%= currUser.username %>" class="form-control" required name="user[username]" disabled>
            </div>
            <div class="mb-3">
                <label for="user[city]" class="form-label">Location / City</label>
                <input type="text" value="<%= currUser.city %>" class="form-control" required name="user[city]" disabled>
            </div>

            <button class="btn btn-danger" id="updateProfileBtn">Update</button>
            <button class="btn btn-primary"  id="savebtn">Save</button>
        </form>
        <form method="get" action="/deleteAccount" class="mt-3 ms-auto">
            <button class="btn btn-danger">Delete Account</button>
        </form>

    </div>

    <script>

        let savebtn = document.getElementById("savebtn");
        let btn = document.getElementById("updateProfileBtn");
        btn.addEventListener("click", (event) => {
            event.preventDefault();
            document.querySelectorAll("input").forEach((el) => {
                el.disabled = false;
            })
            savebtn.disabled = false;
        })
    </script>
</body>